<div style="padding: 15pt;margin-top: 5vh;margin-bottom: 5vh;">
  <div style="height: 100%;width: 100%;">
    <div class="container" style="border-radius: 10pt;box-shadow: 0px 0px 30px rgb(220, 220, 220);">
      <div class="row">
        <div class="col-lg-4">
          <h4 style="text-align: center;padding: 10pt;">Top Selling</h4>
        </div>
        <div class="col-lg-4">
          <h4 style="text-align: center;padding: 10pt;">On Sale</h4>
        </div>
        <div class="col-lg-4">
          <h4 style="text-align: center;padding: 10pt;">Featured</h4>
        </div>
        <div class="col-lg-4" style="padding: 15pt;">
          <div style="height: 20vh;width: 100%;border: 1px solid gray;
          border-radius: 10pt;display: flex;">
            <div style="width: 40%;height: 100%;background-color: aqua;
            border-top-left-radius: 10pt;border-bottom-left-radius: 10pt;"></div>
            <div style="width: 60%;height: 100%;"></div>
          </div>
        </div>
        <div class="col-lg-4" style="padding: 15pt;">
          <div style="height: 20vh;width: 100%;border: 1px solid gray;
          border-radius: 10pt;display: flex;">
            <div style="width: 40%;height: 100%;background-color: aqua;
            border-top-left-radius: 10pt;border-bottom-left-radius: 10pt;"></div>
            <div style="width: 60%;height: 100%;"></div>
          </div>
        </div>
        <div class="col-lg-4" style="padding: 15pt;">
          <div style="height: 20vh;width: 100%;border: 1px solid gray;
          border-radius: 10pt;display: flex;">
            <div style="width: 40%;height: 100%;background-color: aqua;
            border-top-left-radius: 10pt;border-bottom-left-radius: 10pt;"></div>
            <div style="width: 60%;height: 100%;"></div>
          </div>
        </div>
        <div class="col-lg-4" style="padding: 15pt;">
          <div style="height: 20vh;width: 100%;border: 1px solid gray;
          border-radius: 10pt;display: flex;">
            <div style="width: 40%;height: 100%;background-color: aqua;
            border-top-left-radius: 10pt;border-bottom-left-radius: 10pt;"></div>
            <div style="width: 60%;height: 100%;"></div>
          </div>
        </div>
        <div class="col-lg-4" style="padding: 15pt;">
          <div style="height: 20vh;width: 100%;border: 1px solid gray;
          border-radius: 10pt;display: flex;">
            <div style="width: 40%;height: 100%;background-color: aqua;
            border-top-left-radius: 10pt;border-bottom-left-radius: 10pt;"></div>
            <div style="width: 60%;height: 100%;"></div>
          </div>
        </div>
        <div class="col-lg-4" style="padding: 15pt;">
          <div style="height: 20vh;width: 100%;border: 1px solid gray;
          border-radius: 10pt;display: flex;">
            <div style="width: 40%;height: 100%;background-color: aqua;
            border-top-left-radius: 10pt;border-bottom-left-radius: 10pt;"></div>
            <div style="width: 60%;height: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
