<div class="container" style="margin-top: 4vh;margin-bottom: 4vh;">
  <div style="width: 100%;border-radius: 10pt;box-shadow: 0px 0px 30px rgb(200, 200, 200);padding: 30pt;">
    <h3 style="margin: 15pt;text-align:center;">Join our Mailing List</h3>
    <div style="display: flex;justify-content: center;">
      <div class="input-group" style="width: 60%;">
        <input type="text" style="background-color: transparent;border: 1px solid rgb(200, 200, 200);padding: 10pt;"
          class="form-control">
        <button class="btn btn-info" style="color: white;">Subscribe</button>
      </div>
    </div>
  </div>
</div>
