<div style="text-align: center;margin-top: 10vh;margin-bottom: 5vh;" class="container">
    <h1 style="color: rgb(58, 58, 235);">
        First business fulfilment hub for needs
    </h1>
    <h3 style="color: gray;">
        One stop business solution for all raw material
    </h3>
</div>
<div class="carousel">
    <div class="carouselBanner">
        <div class="container topSection">
            <h3 style="width: fit-content;">Your favorite products in your hand</h3>
            <h3 style="width: fit-content;color: rgb(62, 62, 210);">View all</h3>
        </div>
        <div class="container bottomSection">
            <div class="carouselItem">
                <div></div>
            </div>
            <div class="carouselItem">
                <div></div>
            </div>
            <div class="carouselItem">
                <div></div>
            </div>
            <div class="carouselItem">
                <div></div>
            </div>
        </div>
    </div>
</div>