<div class="linearize spaceBetween navBarTop">
    <div>
        <img class="socialIcons" src="assets/navicons/facebook.png" style="height: 25pt;width: 25pt;" />
        <img class="socialIcons" src="assets/navicons/twitter.png" style="height: 25pt;width: 25pt;" />
        <img class="socialIcons" src="assets/navicons/linkedin.png" style="height: 25pt;width: 25pt;" />
        <img class="socialIcons" src="assets/navicons/pinterest.png" style="height: 25pt;width: 25pt;" />
    </div>
    <div>
        <div class="searchFieldContainer">
            <input class="searchFieldTextInput form-control" placeholder="Search Here!" type="text">
            <button class="searchFieldButton btn btn-light">
                <img src="assets/navicons/search.png" style="height: 15pt;padding-left: 10pt;padding-right: 5pt;" alt="">
            </button>
        </div>
    </div>
    <div class="linearize">
        <div class="linearize topRightIcons">
            <img src="assets/navicons/location.png" style="height: 25pt;" alt="">
            <div>Location</div>
        </div>
        <div class="linearize topRightIcons">
            <img src="assets/navicons/trackorder.png" style="height: 25pt;" alt="">
            <div>Track&nbsp;Order</div>
        </div>
        <div ngbDropdown style="margin-left: 20pt;">
            <div ngbDropdownToggle>
                <img src="assets/navicons/user.png" style="height: 25pt;" alt="">
            </div>
            <div ngbDropdownMenu>
                <div ngbDropdownItem>
                    Account
                </div>
                <div ngbDropdownItem>
                    Settings
                </div>
            </div>
        </div>
    </div>
</div>