.linearize {
    display: flex;
    align-items: center;
}

.spaceBetween {
    justify-content: space-between;
}

.navBarTop {
    min-height: 8vh;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.topRightIcons {
    margin-left: 10pt;
    margin-right: 10pt;
}

.topRightIcons img {
    margin-left: 10pt;
    margin-right: 10pt;
}

.topRightIcons div {
    color: purple;
}

.socialIcons {
    margin-left: 3pt;
    margin-right: 3pt;
}

.searchFieldContainer {
    box-shadow: 0pt 0pt 20pt gray;
    border-radius: 30pt;
    display: flex;
    width: 120%;
}

.searchFieldButton {
    border-bottom-left-radius: 30pt;
    border-top-left-radius: 10pt;
    border-top-right-radius: 20pt;
    border-bottom-right-radius: 20pt;
    background: linear-gradient(to bottom right, rgb(218, 218, 218), rgb(253, 91, 90));
}

.searchFieldTextInput {
    border-radius: 20pt;
    border: 0px solid transparent;
    padding-left: 20pt;
}

input:focus {
    border : 1px solid green
}