<div class="bannerContainer">
  <div class="banner">
    <div class="container">
      <div style="width: fit-content;padding-left: 10pt;padding-right: 10pt;
      background-color: #febc3d;border-radius: 10pt;margin-bottom: 10pt;
      padding-top: 1pt;padding-bottom: 1pt;">WEEKEND
        DISCOUNT </div>
      <h1 style="font-weight: 300;">The future of health</h1>
      <h1 style="font-weight: bolder;">Shopping with style</h1>
      <button class="btn btn-primary"
      style="border-radius: 20pt;padding-left: 20pt;
      padding-right: 20pt;margin-top: 10pt;">Shop Now</button>
    </div>
  </div>
</div>
