<h5 style="margin-top: 20px;margin-left: 20px;">Customer Reviews & Ratings</h5>


<div>
<div class="box">
    <div>
        <div style="display: flex;">
            <p style="font-size: 30px;font-weight: bold;">4.5&nbsp; </p>
            <p style="margin-top: 13px;font-weight: 500;">out of &nbsp;</p>
            <p style="font-size: 30px;font-weight: bold;">5</p>
        </div>
        <div style="margin-top: -20px;margin-left: 15px;">
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>
    </div>
</div>

<div style="margin-left: 200px;margin-top: -60px;">
    <div style="display: flex;">
        <p style="font-size: 15px;margin-top: -9px;">5 Star </p>
        <div class="progress" style="width: 40%;height: 8px;margin-left: 4px;margin-right: 4px;">

            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100" style="width:80%">

                <span class="sr-only">50% Complete</span>
            </div>
        </div>
        <p style="font-size: 15px;margin-top: -9px;">17</p>
    </div>

    <div style="display: flex;">
        <p style="font-size: 15px;margin-top: -9px;">4 Star </p>
        <div class="progress" style="width: 40%;height: 8px;margin-left: 4px;margin-right: 4px;">

            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100" style="width:70%">

                <span class="sr-only">50% Complete</span>
            </div>
        </div>
        <p style="font-size: 15px;margin-top: -9px;">15</p>
    </div>

    <div style="display: flex;">
        <p style="font-size: 15px;margin-top: -9px;">3 Star </p>
        <div class="progress" style="width: 40%;height: 8px;margin-left: 4px;margin-right: 4px;">

            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100" style="width:10%">

                <span class="sr-only">50% Complete</span>
            </div>
        </div>
        <p style="font-size: 15px;margin-top: -9px;">2</p>
    </div>

    <div style="display: flex;">
        <p style="font-size: 15px;margin-top: -9px;">2 Star </p>
        <div class="progress" style="width: 40%;height: 8px;margin-left: 4px;margin-right: 4px;">

            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100" style="width:30%">

                <span class="sr-only">50% Complete</span>
            </div>
        </div>
        <p style="font-size: 15px;margin-top: -9px;">8</p>
    </div>

    <div style="display: flex;">
        <p style="font-size: 15px;margin-top: -9px;">1 Star </p>
        <div class="progress" style="width: 40%;height: 8px;margin-left: 4px;margin-right: 4px;">

            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100" style="width:20%">

                <span class="sr-only">50% Complete</span>
            </div>
        </div>
        <p style="font-size: 15px;margin-top: -9px;">5</p>
    </div>


</div>
<br>
<div style="display: flex;">
    <button type="button" class="btn btn-primary" style="margin-left: 60px;border-radius: 20px;">See All Reviews</button>
<button type="button" class="btn btn-primary " style="margin-left: 30px;border-radius: 20px;">Write Reviews</button>
</div>

</div>

<div style="float: right;margin-top: -250px;margin-right: 140px;">
    <h2 >Short Sleeved Hoodie</h2>
    <h3 style="color: red;margin-left: 100px;">99.00$</h3>
    <button type="button" class="btn btn-primary " style="margin-left: 210px;border-radius: 20px;">Add to Cart</button>

    <p style="margin-top: 20px;">
        <font color="gray">Availability:</font>
        <font color="greenyellow">In Stock</font>
    </p>
    <p>
        <font color="gray">SKU:</font>
        <font color="black">BestSeller-07</font>
    </p>
    <p>
        <font color="gray">Brand:</font>
        <font color="black">Boculair</font>
    </p>

</div>
<hr>
