<div style=" height: 8vh;backdrop-filter: blur(8px);padding: 10pt;
background-color: rgba(255, 255, 255, 0.2);box-shadow: 0px 0px 30px rgba(225, 225, 225, 0.8);"
class="fixed-bottom">
  <div class="container"
    style="height: 100%;display: flex;align-items:center;flex-direction: row;justify-content: space-between;">
    <div style="height: 100%;">

      <div ngbDropdown style="height: 100%;">
        <div ngbDropdownToggle style="flex-direction: row;display: flex;height: 100%;align-items: center;height: 100%;">
          <img src="assets/menu.png" style="height: 100%;" alt="">
          <div style="font-size: x-large;margin-left: 15pt;">All Catagories</div>
        </div>
        <div ngbDropdownMenu style="backdrop-filter: blur(8px);background-color: rgba(255, 255, 255, 0.64);">
          <div ngbDropdownItem>
            New Arrivals
          </div>
          <div ngbDropdownItem>
            New Arrivals
          </div>
          <div ngbDropdownItem>
            New Arrivals
          </div>
          <div ngbDropdownItem>
            New Arrivals
          </div>
        </div>
      </div>

    </div>
    <div style="display: flex;flex-direction: row;align-items: center;">
      <div style="font-size: larger;margin-left: 15pt;
      white-space: nowrap;margin-right: 10pt;">What are you looking for?</div>
      <div class="input-group">
        <input type="text" style="background-color: transparent;border: 0px solid;
          background-color: rgba(255, 255, 255, 0.53);
          padding-left: 10pt;padding-right: 10pt;" class="form-control" placeholder="Search anything">
        <button class="btn" style="background-color: #616675;color: white;">Search</button>
      </div>
    </div>
  </div>
</div>
