.carouselItem {
    width: 100%;
    min-height: 70vh;
    padding: 30pt;
}

.carouselBanner {
    padding-top: 20pt;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(152, 193, 213), rgb(231, 231, 231), rgb(152, 193, 213));
    border-bottom-left-radius: 200pt;
    border-top-right-radius: 200pt;
    border-top-left-radius: 50pt;
    border-bottom-right-radius: 50pt;
    box-shadow: 0pt 0pt 30pt rgb(253, 191, 177);
}

.bannerUpperContainer {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.bannerUpperLeftContainer {
    height: 40vh;
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    /* background-color: orange; */
}

.bannerUpperRightContainer {
    height: 100%;
    width: 60%;
    text-align: center;
    /* background-color: green; */
}

.bannerLowerContainer {
    height: 20%;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    /* background-color: bisque; */
}

.membershipBtn {
    padding-left: 20pt;
    padding-right: 20pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    border: 2px solid white;
    border-radius: 25pt;
    background-color: transparent;
    color: black;
    font-weight: bold;
    margin: 10pt;
    box-shadow: 0px 0px 20px #ff888ccd;
    transition: 0.4s;
}

.membershipBtn:hover {
    box-shadow: 0px 0px 60px #ff888ccd;
}