<div class="carouselItem">
    <div class="carouselBanner" 
    style="display: flex;align-items: center;justify-content: space-between;flex-direction: column;">
        <div class="container">
            <div class="row">
                <div class="col-6 justifyCenterize" >
                    <h1 >
                        <b style="color: rgb(3 ,102 ,255);">Hefgro </b> <b>is a</b> Multi <br>
                        Service <span style="color: rgb(3 ,102 ,255);">Providing</span> <br>
                        <b style="color: rgb(253 ,163 ,12);">E-Commerce </b> Platform
                    </h1>
                    <div class="partnerBtn">
                        Become&nbsp;a&nbsp;Partner
                    </div>
                </div>
            </div>
        </div>
        <h1 style="color: rgb(0, 77, 192);">Use our services or join as partners with hefgro</h1>
    </div>
</div>