<div class="carouselItem">
    <div class="carouselBanner">
        <div class="container" style="height: 100%;">
            <div class="bannerUpperContainer">
                <div class="bannerUpperLeftContainer">
                    <h1>
                        <b style="color: #0366ff;">Hefgro</b> is a multiservice <b style="color: #0366ff;">Providing </b> <br> <b style="color: #fea310;">E-commerce</b> platform
                    </h1>
                    <button class="membershipBtn">Become a member</button>
                </div>
                <div class="bannerUpperRightContainer">
                    <img src="assets/imac.png" style="height: 40vh;" alt="" srcset="">
                </div>
            </div>
            <div class="bannerLowerContainer">
                <h1 style="color: #012a88;">Use our services or join as partners with hefgro</h1>
            </div>
        </div>
    </div>
</div>