<div style="padding: 30pt;">
  <div style="box-shadow: 0px 0px 20px rgb(200,200,200);
  border-radius: 10pt;">
    <div class="container-fluid">
      <div style="display: flex;align-items: center;padding: 10pt;">
        <h3>Top Daily Deals</h3>
        <div>
          <div class="alert-danger" style="font-size: x-large;padding: 10pt;border-radius: 5pt;margin-left: 20pt;">ENDS IN 12D :12H :46M :20S</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3" style="padding: 10pt;">
          <div style="height: 30vh;width: 100%;border: 1px solid rgb(200,200,200);border-radius: 10pt;">

          </div>
        </div>
        <div class="col-lg-3" style="padding: 10pt;">
          <div style="height: 30vh;width: 100%;border: 1px solid rgb(200,200,200);border-radius: 10pt;">

          </div>
        </div>
        <div class="col-lg-3" style="padding: 10pt;">
          <div style="height: 30vh;width: 100%;border: 1px solid rgb(200,200,200);border-radius: 10pt;">

          </div>
        </div>
        <div class="col-lg-3" style="padding: 10pt;">
          <div style="height: 30vh;width: 100%;border: 1px solid rgb(200,200,200);border-radius: 10pt;">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
