<div class="center" style="margin-top: 30px;">
    <h5>Details &nbsp;&nbsp;        More Information &nbsp;&nbsp;        Custom Tab &nbsp;&nbsp;        Reviews</h5>
    </div>

<div class="box">
    <div class="center">
        <h4>Specification</h4>
        <hr>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    </div>
    <br>
    <br>
    <div style="display: flex;">
        <h5>Country of Origin - </h5>
    <p>Textiles Imported</p>
    </div>

    <br>
    <h5>Fabric Content</h5>
    <p>Rayon</p>

    <br>
    <h5>Brand</h5>
    <p>POPYOUNG</p>

    <br>
    <h5>Gender</h5>
    <p>Female</p>

    <br>
    <h5>Model</h5>
    <p>PPY3019</p>

    <br>
    <h5>Manufacturer</h5>
    <p>POPYOUNG</p>

    <br>
    <p>Directions</p>

    <br>
    <h5>Fabric Care Instructions</h5>
    <p>Machine Washable</p>
    
</div>    
