<div class="container" style="padding-top: 10vh;padding-bottom: 15vh;">
  <div class="row">
    <div class="col-lg-3">
      <h2 style="background:linear-gradient(rgb(96, 96, 255),#002262);-webkit-text-fill-color: transparent;-webkit-background-clip: text;background-clip: text;">About us</h2>
      <div style="padding-left: 30pt;border-left: 2px solid blue;margin-top: 10pt;">
        <div style="margin-bottom: 10pt;">Who we are</div>
        <div style="margin-bottom: 10pt;">How we work</div>
        <div style="margin-bottom: 10pt;">Our Location</div>
        <div style="margin-bottom: 10pt;">Our company</div>
      </div>
    </div>
    <div class="col-lg-3">
      <h2 style="background:linear-gradient(rgb(96, 96, 255),#002262);-webkit-text-fill-color: transparent;-webkit-background-clip: text;background-clip: text;">Business</h2>
      <div style="padding-left: 30pt;border-left: 2px solid blue;margin-top: 10pt;">
      <div style="margin-bottom: 10pt;">Company</div>
      <div style="margin-bottom: 10pt;">Contact</div>
        <div style="margin-bottom: 10pt;">Privacy Policy</div>
        <div style="margin-bottom: 10pt;">Legal</div>
      </div>
    </div>
    <div class="col-lg-3">
      <h2 style="background:linear-gradient(rgb(96, 96, 255),#002262);-webkit-text-fill-color: transparent;-webkit-background-clip: text;background-clip: text;">Services</h2>
      <div style="padding-left: 30pt;border-left: 2px solid blue;margin-top: 10pt;">
        <div style="margin-bottom: 10pt;">E-Commerce</div>
        <div style="margin-bottom: 10pt;">Truck Booking</div>
        <div style="margin-bottom: 10pt;">Freelance</div>
        <div style="margin-bottom: 10pt;">Wholesale</div>
        <div style="margin-bottom: 10pt;">Personal Services</div>
      </div>
    </div>
    <div class="col-lg-3">
      <h2 style="background:linear-gradient(rgb(96, 96, 255),#002262);-webkit-text-fill-color: transparent;-webkit-background-clip: text;background-clip: text;">Contact us</h2>
      <div style="padding-left: 30pt;border-left: 2px solid blue;margin-top: 10pt;">
        <div style="margin-bottom: 10pt;">Company</div>
        <div style="margin-bottom: 10pt;">Contact</div>
        <div style="margin-bottom: 10pt;">Privacy Policy</div>
        <div style="margin-bottom: 10pt;">Legal</div>
      </div>
    </div>
  </div>
</div>
