<div class="container">
    <div class="row">
        <div class="col-lg-7 bubbleItemCont">
            <div class="bubbleItem">
                <div class="bubbleSubItemContainer">
                    <div>Business Purchase Fulfilment</div>
                    <img src="" alt="">
                </div>
                <div class="bubbleSubItemContainer">
                    <div>T</div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-5 bubbleItemCont">
            <div class="bubbleItem">
                <div class="bubbleSubItemContainer">
                    <div>Shipping Zone</div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-5 bubbleItemCont">
            <div class="bubbleItem">
                <div class="bubbleSubItemContainer">
                    <div>Smart Personal And Business</div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-7 bubbleItemCont">
            <div class="bubbleItem">
                <div class="bubbleSubItemContainer">
                    <div>Personal Services And Tech Bees</div>
                    <img src="" alt="">
                    
                </div>
                <div class="bubbleSubItemContainer">
                    <div>T</div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
        
    </div>
</div>