<div class="container">
    <div class="row">
        <div class="col-lg-5 bubbleItemCont">
            <div class="bubbleItem">
                <div class="bubbleSubItemContainer">
                    <div>TExt</div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-7 bubbleItemCont">
            <div class="bubbleItem">
                <div class="bubbleSubItemContainer">
                    <div>TExt</div>
                    <img src="" alt="">
                </div>
                <div class="bubbleSubItemContainer">
                    <div>TExt</div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-7 bubbleItemCont">
            <div class="bubbleItem">
                <div class="bubbleSubItemContainer">
                    <div>TExt</div>
                    <img src="" alt="">
                </div>
                <div class="bubbleSubItemContainer">
                    <div>TExt</div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-5 bubbleItemCont">
            <div class="bubbleItem">
                <div class="bubbleSubItemContainer">
                    <div>TExt</div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</div>