<!-- Selector -->
<div style="background-color: rgb(220, 220, 220);padding-top: 2vh;padding-bottom: 2vh;text-align: center;">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div ngbDropdown>
          <div ngbDropdownToggle>All Categories</div>
          <div ngbDropdownMenu>
            <div ngbDropdownItem>
              Item
            </div>
            <div ngbDropdownItem>
              Item
            </div>
            <div ngbDropdownItem>
              Item
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div ngbDropdown>
          <div ngbDropdownToggle>Feature Brands</div>
          <div ngbDropdownMenu>
            <div ngbDropdownItem>
              Item
            </div>
            <div ngbDropdownItem>
              Item
            </div>
            <div ngbDropdownItem>
              Item
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div ngbDropdown>
          <div ngbDropdownToggle>Discount</div>
          <div ngbDropdownMenu>
            <div ngbDropdownItem>
              Item
            </div>
            <div ngbDropdownItem>
              Item
            </div>
            <div ngbDropdownItem>
              Item
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div ngbDropdown>
          <div ngbDropdownToggle>Price</div>
          <div ngbDropdownMenu>
            <div ngbDropdownItem>
              Item
            </div>
            <div ngbDropdownItem>
              Item
            </div>
            <div ngbDropdownItem>
              Item
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div ngbDropdown>
          <div ngbDropdownToggle>By Color</div>
          <div ngbDropdownMenu>
            <div ngbDropdownItem>
              Item
            </div>
            <div ngbDropdownItem>
              Item
            </div>
            <div ngbDropdownItem>
              Item
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div ngbDropdown>
          <div ngbDropdownToggle>Default Sorting</div>
          <div ngbDropdownMenu>
            <div ngbDropdownItem>
              Item
            </div>
            <div ngbDropdownItem>
              Item
            </div>
            <div ngbDropdownItem>
              Item
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- List -->
<div class="container" style="padding-top: 4vh;">
  <div class="row">
    <div class="col-lg-12" style="padding: 10pt;">
      <div style="height: 50vh;width: 100%;background-color: rgb(220, 220, 220);border-radius: 10pt;
      box-shadow: 0px 0px 20px rgb(220, 220, 220);display: flex;">
        <div style="width: 30%;height: 100%;background-color: aqua;border-bottom-left-radius: 10pt;border-top-left-radius: 10pt;">
        </div>
        <div style="width: 70%;height: 100%;padding: 10pt;">
          <div><b>Blue comfort</b></div>
          <div>$211.00</div>
          <ngb-rating [max]="5" [rate]="4" style="color: rgb(205, 187, 50);"></ngb-rating>
        </div>
      </div>
    </div>
    <div class="col-lg-12" style="padding: 10pt;">
      <div style="height: 50vh;width: 100%;background-color: rgb(220, 220, 220);border-radius: 10pt;
      box-shadow: 0px 0px 20px rgb(220, 220, 220);display: flex;">
        <div style="width: 30%;height: 100%;background-color: aqua;border-bottom-left-radius: 10pt;border-top-left-radius: 10pt;">
        </div>
        <div style="width: 70%;height: 100%;padding: 10pt;">
          <div><b>Blue comfort</b></div>
          <div>$211.00</div>
          <ngb-rating [max]="5" [rate]="4" style="color: rgb(205, 187, 50);"></ngb-rating>
        </div>
      </div>
    </div>
    <div class="col-lg-12" style="padding: 10pt;">
      <div style="height: 50vh;width: 100%;background-color: rgb(220, 220, 220);border-radius: 10pt;
      box-shadow: 0px 0px 20px rgb(220, 220, 220);display: flex;">
        <div style="width: 30%;height: 100%;background-color: aqua;border-bottom-left-radius: 10pt;border-top-left-radius: 10pt;">
        </div>
        <div style="width: 70%;height: 100%;padding: 10pt;">
          <div><b>Blue comfort</b></div>
          <div>$211.00</div>
          <ngb-rating [max]="5" [rate]="4" style="color: rgb(205, 187, 50);"></ngb-rating>
        </div>
      </div>
    </div>
    <div class="col-lg-12" style="padding: 10pt;">
      <div style="height: 50vh;width: 100%;background-color: rgb(220, 220, 220);border-radius: 10pt;
      box-shadow: 0px 0px 20px rgb(220, 220, 220);display: flex;">
        <div style="width: 30%;height: 100%;background-color: aqua;border-bottom-left-radius: 10pt;border-top-left-radius: 10pt;">
        </div>
        <div style="width: 70%;height: 100%;padding: 10pt;">
          <div><b>Blue comfort</b></div>
          <div>$211.00</div>
          <ngb-rating [max]="5" [rate]="4" style="color: rgb(205, 187, 50);"></ngb-rating>
        </div>
      </div>
    </div>
    <div class="col-lg-12" style="padding: 10pt;">
      <div style="height: 50vh;width: 100%;background-color: rgb(220, 220, 220);border-radius: 10pt;
      box-shadow: 0px 0px 20px rgb(220, 220, 220);display: flex;">
        <div style="width: 30%;height: 100%;background-color: aqua;border-bottom-left-radius: 10pt;border-top-left-radius: 10pt;">
        </div>
        <div style="width: 70%;height: 100%;padding: 10pt;">
          <div><b>Blue comfort</b></div>
          <div>$211.00</div>
          <ngb-rating [max]="5" [rate]="4" style="color: rgb(205, 187, 50);"></ngb-rating>
        </div>
      </div>
    </div>
  </div>
</div>
